# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

root = true

[*.js]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
insert_final_newline = true
max_line_length = 100
quote_type = single
spaces_around_brackets = none

[*.md]
trim_trailing_whitespace = false
